/* Constants */
:root {
    /* Colors */
    --page-dark-color: #191b26;
    --subpage-dark-color: #2e303a;
    --light-text-color: white;
    --accent-color: #9cb0ff;
    --dark-accent-color: #8294da;
    --very-dark-accent-color: #454e73;

    /* Font sizes */
    --title-font-size: 50px;

    /* Others */
    --viewport-height: calc(100vh - 16px);
    --border-radius: 25px;
}

/* Specific changes */
html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--page-dark-color);
    color: var(--light-text-color);
}

#content {
    height: var(--viewport-height);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

#title {
    font-weight: bold;
    color: var(--accent-color);
    font-size: var(--title-font-size);
}

/* Code input */
#code-input-div {
    background-color: var(--subpage-dark-color);
    width: 95%;
    padding: 2%;
    border-radius: var(--border-radius);
}

#RegCode {
    border-radius: var(--border-radius);
    border: none;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--subpage-dark-color);
    text-align: center;
    font-size: xx-large;

}

#reg-code-label {
    width: 100%;
    background-color: var(--subpage-dark-color);
    color: var(--accent-color);
    font-size: x-large;
}

/* Buttons */
#buttons-div {
    display: flex;
    flex-direction: column;
    height: 30vh;
    width: 90%;
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: var(--subpage-dark-color);
}

.accent-button {
    border: none;
    width: 100%;
    flex: 1;
    margin: 10px auto 10px auto;
    font-size: large;
}

/* ID page */

.id-div {
    justify-content: start;
}

#return-button {
    border: none;
    align-self: flex-start;
    margin-bottom: 2%;
    padding: 10px 20px;
}

#id-image {
    width: 95%;
    height: 95%;
    object-fit: contain;
}


/* Data page */
#content-data-page {
    margin: auto;
    height: var(--viewport-height);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


#title-data {
    font-size: 35px;
    font-weight: bold;
    color: var(--accent-color);
}


.row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--subpage-dark-color);
    border-radius: var(--border-radius);
    width: 95%;
    margin: 1%;
}

#input-container {
    background-color: var(--subpage-dark-color);
    border-radius: var(--border-radius);
    width: 95%;
    padding: 2%;
}

#save-button {
    border: none;
    align-self: center;
    margin-bottom: 2%;
    padding: 10px 20px;
}

/* Normal inputs */
.input-label {
    width: 50%;
    text-align: left;
    color: var(--accent-color);
    background-color: var(--subpage-dark-color);
    border-radius: var(--border-radius);

}

.data-input {
    width: 50%;
    background-color: var(--accent-color);
    color: var(--subpage-dark-color);
    border-radius: var(--border-radius);
    border: none;
    padding: 1%;
}

/* Radio Inputs */
.radio-input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    background-color: var(--subpage-dark-color);
    padding: 1%;

}

.single-choice-div {
    background-color: var(--subpage-dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.radio-label {
    color: var(--accent-color);
    background-color: var(--subpage-dark-color);
}

.radio-input {
    --radio-size: 25px;
    width: var(--radio-size);
    height: var(--radio-size);
}


/* File Inputs */
.file-input {
    width: 50%;
    background-color: var(--accent-color);
    color: var(--subpage-dark-color);
    border-radius: var(--border-radius);
    border: none;
    padding: 1%;
}

/* Helper Classes */
.hidden {
    display: none;
}

/* Global */

#container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    #container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    #container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    #container {
        width: 960px;
    }

    #buttons-div {
        flex-direction: row;
    }

    .accent-button {
        margin: auto 25px;
        height: 50%;
    }

}

@media (min-width: 1200px) {
    #container {
        width: 1140px;
    }
}

button {
    background-color: var(--accent-color);
    color: var(--subpage-dark-color);
    border-radius: var(--border-radius);
    border: none;
}

button:hover {
    background-color: var(--dark-accent-color);
}

button:disabled {
    background-color: var(--very-dark-accent-color);
    color: var(--page-dark-color);
}


.file-input:hover {
    background-color: var(--dark-accent-color);
}