/* Constants */
:root {
    --page-dark-color: #191b26;
    --subpage-dark-color: #2e303a;
    --light-text-color: white;
    --accent-color: #9cb0ff;
}

/* Specific changes */
html * {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--page-dark-color);
    color: var(--light-text-color);
}

#content {
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

/* Helper Classes */
.hidden {
    display: none;
}

.text-bold {
    font-weight: bold;
}