.modal-header-h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

#content {
    height: 100vh;
}

.bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.large-text {
    font-size: xx-large;
}

.font-bold {
    font-weight: bold;
}